PORT=8000
MONGO_URI=mongodb+srv://srinjani:<your_db_password>@cluster0.zpsh866.mongodb.net
CORS_ORIGIN=<your_cors_origin>
ACCESS_TOKEN = <your custom webtoken>
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = <your custom webtoken>
REFRESH_TOKEN_EXPIRY = 10d


CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET=